<h1>Add a lost cat</h1>
<div>
  <form action="/lostcats" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
    <br>

    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone">
    </div>
    <br>

    <div>
      <label for="description">Description</label>
      <input type="text" id="description" name="description">
    </div>
    <br>

    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password">
    </div>
    <br>

    <div>
      <input type="submit" id="Add" value="Add">
    </div>
  </form>
  