<h1>Sightings of <%= cat.name%></h1>
  <form action='/lostcats/:index'method="POST">
  <div>
      <label form="new_sighting">Add a sighting of <%= cat.name %></label>
      <br>
      <input type="text" id ="new_sighting" name="new_sighting">
  </div>
  <div>
    <button id="new_sighting">Add a new sighting</button>
  </div>
  </form>
  

